

.follow-item-center {
	background: url(../../img/follow-img/follow-inst-bg.png) center no-repeat;
	height: 240px;
	width: 328px;
}

.follow-me-row {
	display: flex;
	padding: 120px 0 125px 0;
	justify-content: center;
	align-items: center;
}

.follow-item-end {
	display: flex;
	justify-content: flex-end
}

.follow-item {
	padding: 0;
}

.follow-me-title{
	padding: 61px 0 40px 0;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	color: var(--main-color);
}
.follow-item-center {
	text-align: center;
}