[class*="__container"] {
	font-family: 'Libre franklin';
	max-width: 1920px;
	margin: 0 auto;
}

.navbar a {
	color: var(--grey);
}

body {
	background-color: var(--black);
}

@media(max-width: 769px) {
	[class*="__container"] {
		width: 100%;
	}
}