.header {
	background-color: #181511e3;
	position: fixed;
	width: 100%;
}

.logotype {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;

	font-size: 34px;
	font-weight: 400;
	line-height: 28px;
	color: var(--main-color);
}

.navigation {

	padding: 0;
}
.navbar {

	justify-content: flex-start;
}
.nav-link.active{

	color: var(--main-color);
}
.nav-link {
	padding: 1.5em 1em;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.nav-link:hover {
	color: var(--main-color);
}
.buy-template-btn {
	display: flex;
	align-items: center;
}
.button {
	height: 52px;
	width: 147px;
	background-color: transparent;
	border: 1px solid var(--main-color);
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: var(--main-color);
	font-family: 'Libre franklin';

	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.button:hover {
	color: var(--black);
	background-color: var(--main-color);
}

@media (max-width: 426px) {
	.header {
		display: none;
	}
}