.services-img-bg {
	display: block;
	height: 462px;
	background: url(../../img/services-bg.png) center center/cover no-repeat;
}
.services-start {
	padding: 100px 0 63px 0;
}

.service-tab {
	height: 350px;
	width: 400px;
	border: 1px #4B4136 solid;
	text-align-last: left;
	padding: 61px 0 0 61px;
}

.service-title {
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	color: var(--main-color);
	padding: 20px 0 10px 0
}
.service-sutitle {
	text-transform: none;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	color: #ACA592;
	text-align: left;
}

.col-services {
	display: flex;
    justify-content: center;
}