.subscribe-title {
	font-size: 60px;
	font-weight: 400;
	line-height: 70px;
	color: var(--main-color);

}

.subscribe-subtitle {
	font-size: 12px;
	font-weight: 400;
	line-height: 28px;
	color: var(--grey)
}

.subscribe__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
@media(max-width: 426px) {
	.subscribe-title{
		font-size: 35px;
		line-height: 40px;
	}
}