
.templates__container {
	max-width: 1200px;
}
.templates-start {
	height: 102px;
	padding: 120px 0 60px 0;
}

.templates-subtitle {
	font-size: 12px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2px;
	color: var(--grey);
}

.templates-title {
	color: var(--main-color);
	font-size: 60px;
	font-weight: 400;
	line-height: 70px;
}

.template-item {
	margin-top: 20px;

	height: 315px;
	width: 387px;
	border: 1px #4B4136 solid;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.template-item-name {
	padding-top: 30px;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 2px;
	color:white;
	text-transform: uppercase;
}

.templates-items-row {
	padding: 80px 0 120px 0;
	justify-content: center;
}

@media(max-width: 769px) {
	.templates-start{
		padding: 50px 0;
	}
	.template-item{
		height: 280px;
		width: 330px;
		margin: 0;
		border: none;
	}
	.templates-items-row {
		width: 100%;
		margin: 0;
	}
}

@media(max-width: 426px) {
	.templates-title{
		font-size: 40px;
		line-height: 30px;
	}
	.template-item{
		width: 200px;
		height: 200px;
	}
	.template-item-img{
		width: 100%
	}
	.template-item-name{
		padding: 15px 0;
		font-size: 12px;
		font-weight: 300;
		line-height: 14px;
		letter-spacing: 1px;
	}
	.templates-items-row {
		padding: 50px 0;
	}
}